<html>
	<head>

		<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		</head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<script>
			function postcommand(url){
				$.ajax({
				  type: "POST",
				  url: url,
				  success: function(){
				  	console.log("command sent.")
				  },
				});
			}

			function update(){
				$.getJSON( "sensehat.json", function( data ) {
					$('#temperature').val(data.temperature);
					$('#humidity').val(data.humidity);
					$('#pressure').val(data.pressure);
					$('#angle').val(data.angle);
					$('#dx').val(data.dx);
					$('#dy').val(data.dy);
					$('#dz').val(data.dz);
					$('#availability').val(data.availability);
					console.log("run")
					setTimeout(function() { update(); }, 500);
				});
			}
			$(function(){
				update();
			})
		</script>
	</head>
	<body style="padding: 20px; width: 1024px;">
		<div class="page-header">
		  <h1>Smart Chair <small>Control Panel</small></h1>
		</div>

		<div id="alert" class="hide">
			<div class="alert alert-danger" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				<strong>Warning!</strong> Burglar Alarm was triggered at <p id="time"></p>
			</div>
		</div>

		<div class="jumbotron" style="padding:48px; padding-top:24px;">
		  <h2>Availability</h2>
		  	<label for="basic-url">Chair #1</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="availability" aria-describedby="basic-addon3">
			</div>

		</div>

		<div class="jumbotron" style="padding:48px; padding-top:24px;">
		  <h2>Environment</h2>
		  	<label for="basic-url">Temperature</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="temperature" aria-describedby="basic-addon3">
			  <span class="input-group-addon">&deg;C</span>
			</div>

			<label for="basic-url">Humidity</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="humidity" aria-describedby="basic-addon3">
			  <span class="input-group-addon">%</span>
			</div>

			<label for="basic-url">Pressure</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="pressure" aria-describedby="basic-addon3">
			  <span class="input-group-addon">Pa</span>
			</div>
		</div>

		<div class="jumbotron" style="padding:48px; padding-top:24px;">
		  <h2>Displacement</h2>
		  	<label for="basic-url">angle</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="angle" aria-describedby="basic-addon3">
			  <span class="input-group-addon">&deg;</span>
			</div>

			<label for="basic-url">dx</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="dx" aria-describedby="basic-addon3">
			  <span class="input-group-addon">m</span>
			</div>

			<label for="basic-url">dy</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="dy" aria-describedby="basic-addon3">
			  <span class="input-group-addon">m</span>
			</div>

			<label for="basic-url">dz</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="dz" aria-describedby="basic-addon3">
			  <span class="input-group-addon">m</span>
			</div>
		</div>

		<div class="jumbotron hide" style="padding:48px; padding-top:24px;">
		  <h2>USB Power Consumption</h2>
		  	<label for="basic-url">Instantaneous Current</label>
			<div class="input-group">
			  <input type="text" class="form-control" id="current" aria-describedby="basic-addon3">
			  <span class="input-group-addon">A</span>
			</div>

		</div>

		<div class="jumbotron" style="padding: 48px; padding-top:24px;">
			<h2>Remote Control</h2>
			<table>
				<tr>
					<td></td>
					<td><a href="javascript:postcommand('/up-move/');"><img id="upB" src="static/up.png"></img></a></td>
					<td></td>
				</tr>
				<tr>
					<td><a href="javascript:postcommand('/left-move/');"><img id="leftB" src="static/left.png"></img></a></td>
					<td><a href="javascript:postcommand('/stop-move/');"><span>STOP</span</a></td>
					<td><a href="javascript:postcommand('/right-move/');"><img id="rightB" src="static/right.png"></img></a></td>
				</tr>
				<tr>
					<td></td>
					<td><a href="javascript:postcommand('/down-move/');"><img id="downB" src="static/down.png"></img></a></td>
					<td></td>
				</tr>
			</table>
		</div>

	</body>
</html>